<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>flying-focus demo</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../paper-styles/demo-pages.html">
  <link rel="import" href="../flying-focus-element.html">
</head>
<body>
  <div class="vertical-section vertical-section-container centered">
    <h1>Some examples</h1>
    <p>Navigate over the page using the TAB key and to see the transition to the focus outline.</p>
    <h2>Some links</h2>
    <ul>
      <li><a href="">one link</a></li>
      <li><a href="">another link</a></li>
      <li><a href="">foobar link</a></li>
    </ul>
    <h2>A form</h2>
    <form>
      <label for="name">Name: </label>
      <input type="text" id="name" />
      <button type="button">Fake button</button>
    </form>
    <flying-focus></flying-focus>
  </div>
</body>
</html>